<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pramod.popcine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/popcine"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.PopcineSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.PopcineMainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.PopcineDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.PopcineMainActivity" />

        <receiver android:name=".widget.PopularMoviesWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/popular_movies_widget_info" />
        </receiver>
        <!-- AdMob Id -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3360109812222062~7900942142"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c1a276a81bedd3d2a214d3732542c6b9d44657a0" />
    </application>

</manifest>